    
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 10% 45% 45% ;
  grid-template-areas:
  "header header header  "
  "sidebar content content ";
  background-color:white;   
}

      
.sidebar {
  grid-area: sidebar;
  height:auto;
  display: block;
  background-color: white;

  
}

.content {
  grid-area: content;
  position: relative;
  background-color: white;
  height:auto;
  width: auto;
  
}

.header {
  grid-area: header;
  text-align: left;
  height:auto;
  width:auto;
}

h1{
    font-size: 100px;
    font-weight: bolder;
    margin:70px;
    position: relative;
    color:white;
  }
  
  body {
    background-color: white;
  }
  
  #tableContainer {
    display: table;
    padding: 1px;
    margin-right: auto;
    margin-left: auto;
  }
  
  td {
    border: 1px solid;
    width: 50px;
    height: 50px;
    padding: .5px;
    background-color:white;
    border-style: double black;
    border-color: black;  
    display: table-cell;
    align-items: center;
    cursor: pointer;
  }
  
  td:hover {
    display: block;
    width: 100%;
    background-color: grey;
  }
  

